<% html_title "#{@version.name} - Task board" -%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'redmine_task_board' %>

  <style type="text/css">
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      }

  .clearfix {display: inline-block;}  /* for IE/Mac */
  </style><!-- main stylesheet ends, CC with new stylesheet below... -->

  <!--[if IE]>
  <style type="text/css">
    .clearfix {
      zoom: 1;     /* triggers hasLayout */
      display: block;     /* resets display for IE/Win */
      }  /* Only IE can see inside the conditional comment
      and read this CSS rule. Don't ever use a normal HTML
      comment inside the CC or it will close prematurely. */
  </style>
  <![endif]-->
  
  <style type="text/css" media="screen">
    #task_board tr th { width: <%= 100 / (@statuses.size + 1) %>%;}
  </style>
<% end %>


<h2><%= @version.name %> Task Board</h2>
<table id="task_board" cellspacing="0">
  <thead>
    <tr>
      <% if (@stories_with_tasks.keys - [nil]).size > 0 -%><th>&nbsp;</th><% end -%>
      
      <% @statuses.each do |status| %>
        <th><%= status.name %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @stories_with_tasks.each do |story, tasks_by_status| %>
      <% reset_cycle %>
      <tr>
        <% if (@stories_with_tasks.keys - [nil]).size > 0 -%>
          <td>
            <% if story.nil? -%>&nbsp;<% else -%>
              <p class="story_subject"><%= link_to_issue(story) %>: <%= story.subject %></p>
            <% end -%>
          </td>
        <% end -%>
        
        <% @statuses.each do |status| -%>
          <td id="<%= task_board_dom_id(story, status) %>" class="<%= cycle('odd', 'even') %>">
            <ul id="<%= task_board_dom_id(story, status, 'list') %>">
              <%= render :partial => 'issue', :collection => Array(tasks_by_status[status]) %>
            </ul>
            <%= task_board_drop_receiving_element(task_board_dom_id(story, status), status) %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>